/* *{
margin:0;
padding:0;
} */
body{
    background-color:#d6d6d8;
}
.header{
text-align:center;
margin-left: 12rem;
width:60%;
}

.heading{
    line-height:50px;
    padding:1 rem;
    border: 2px solid black;
background-color:#ffffff;
}

.paragraph{
     color:#000000;
     font-size:18px;
}
.paragraph2{
    margin-left:10px;
}
.main_guess{
    border: 2px solid black;
    background-color:#ffffff;
    height:160px;
}
button{
    cursor:pointer;
}